fastapi==0.115.12
uvicorn[standard]==0.33.0
pydantic==2.10.6
pydantic[email]
psycopg2-binary==2.9.10
sqlalchemy==2.0.41
python-dotenv==1.0.1
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
fastapi-mail==1.4.1
google-auth
google-auth-oauthlib
google-api-python-client
email-validator>=2.0.0