fastapi==0.115.12
uvicorn[standard]==0.33.0
pydantic==2.10.6
pydantic[email]
psycopg2-binary==2.9.10
sqlalchemy==2.0.41
python-multipart==0.0.20
python-dotenv==1.0.1
python-jose
google-generativeai
Pillow==10.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
fastapi-mail==1.4.1
watchfiles
httpcore
httpx
google-api-python-client
google-auth
google-auth-oauthlib

